@import "../varible";
@import "../mixins";

/** bootstrap-wysiwyg **/
.editor-wrapper {
  min-height: 250px;
  background-color: white;
  border-collapse: separate;
  border: 1px solid rgb(204, 204, 204);
  padding: 4px;
  box-sizing: content-box;
  @include css3-prefix(box-shadow, 'rgba(0, 0, 0, 0.0745098) 0 1px 1px 0 inset');
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  overflow: scroll;
  outline: none;
}

.voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  @include css3-prefix(transform, scale(2.0, 2.0));
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  @include css3-prefix(user-select, none);
}

.dropdown-menu a {
  cursor: pointer;
}
/** /bootstrap-wysiwyg **/

/** Select2 **/
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  min-height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #73879C;
  padding-top: 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding-top: 3px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 36px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__clear {
  margin-top: 2px;
  border: none;
  border-radius: 0;
  padding: 3px 5px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #ccc;
}
/** /Select2 **/

/** Switchery **/
.switchery {
  width: 32px;
  height: 20px;
}

.switchery>small {
  width: 20px;
  height: 20px;
}
/** /Switchery **/

/** Normalize.css **/
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
/** /Normalize.css **/

/** FullCalendar **/
.fc-state-default {
  background: #f5f5f5;
  color: #73879C;
}

.fc-state-down,
.fc-state-active {
  color: #333;
  background: #ccc;
}
/** /FullCalendar **/

/** Dropzone.js **/
.dropzone {
  min-height: 300px;
  border: 1px solid #e5e5e5;
}
/** /Dropzone.js **/
.checkbox label, .radio label {
  padding-left: 0;
}