/config/setting.php
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php
/public/assets
*.iml
.idea/
*.ipr
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.grunt
/config/theme/setting.php
/composer.lock
/composer.phar
.lock-wscript
/resources/assets/vendors
build/Release
node_modules
out
gen### Sass template
.sass-cache/
*.css.map
/vendor
vendor.zip
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/.note.html
