@import "varible";
@import "mixins";

@import "custom/account";
@import "custom/cropper";
@import "custom/daterangepicker";
@import "custom/form";
@import "custom/header";
@import "custom/other";
@import "custom/PNotify";
@import "custom/progressbar";
@import "custom/menu";
@import "custom/SmartWizard";
@import "custom/accordion";
@import "custom/widget";




@import "theme";

.pagination{
  margin: 0;
}
td,th{
  &.numerical-order{
    text-align: center;
    width: 60px;
  }
  &.cell-action{
    width: 90px;
  }
}
td{
  &.user-media{
    img{
      width: 65px;
      height: 65px;
      max-width: 100%;
      border-radius: 50%;
    }
  }
}